.background{
background-image: url("https://previews.123rf.com/images/vska/vska1612/vska161200019/68126954-abstract-hexagon-background-technology-polygonal-design-digital-futuristic-minimalism-vector.jpg");
background-size: all;
background-position: center;


}


.logo{
position: relative;
height: 10rem;
width: 25rem;
display: inline;

}

.title{
position: absolute;
margin-top:-7rem;
margin-bottom: 50rem;
margin-left: 20rem;
display: block;
font-size: 3.5rem;

}

.main_bar{
position: relative;
border-style: solid;
height: 146.3px;
width: 120px;
margin: 10px;
display: ;
background-color:none; 
text-align: center;
font-size: 18px;
font-style: oblique;
color: black;
}
.menu_img{
position:absolute;
margin-left: 50px;
margin-top: 50px;
height: 35px;
width: 35px;
z-index: 1;

}


#rodape_left{
width: 40rem;
height: 20rem;
align-items: flex-end;

float: left;

}
#rodape_right{
width: 20rem;
height: 20rem;
float: right;
}



.caption{
display: block;
line-break:strict;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}